APP_URL=http://localhost:3333
NODE_ENV=development

#Auth


APP_SECRET=bootcampgobarbernode

# Database

DB_HOST=
db_USER=
DB_PASS=
DB_NAME=

# Mongo


MONGO_URL=

# Redis

REDIS_HOST=127.0.0.1
REDIS_POST=6379

# Mail

MAIL_HOST=
MAIL_POR=
MAIL_USER=
MAIL_PASS=

# Sentry
#monitor de erros
SENTRY_DSN=
